.inputbox1{
    position: absolute;
    width: 470px;
    height: 57px;
    left: 725px;
    top: 200px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box2{
    border-radius:4px;
    top: calc(55% - 40px/2 + 0.5px);
    position: absolute;
    left: 660px;
    top: 250px;
    font-weight: 400;
    font-size: 20px;
    }
    
    .box2 input{
    border-radius: 10px;
    height: 57px;
    width:600px;
    font-size: 20px;
    } 
    .box2 input:hover{
      transition: 0.2s;
      border-color: hsl(0, 88%, 55%);
    }
    
    .box2 span{
    position: absolute;
    top:15px ;
    left:20px;
    transition: top .5s;
    padding: 0 5px;
    }
    
    .box2 input:valid ~ span,
    .box2 input:focus ~ span
        {
          top:-18px;
          background-color:  #ffffff;
        }

.inputbox3{
    position: absolute;
width: 470px;
height: 57px;
left: 725px;
top: 400px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputbox4{
    position: absolute;
width: 470px;
height: 173px;
left: 725px;
top: 500px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.feedbackpage{
    position: relative;
    width:1920px;
    height:1080px;
    top:89px;
    }

.feedbackB{
    position: absolute;
    width: 477px;
    height: 57px;
    left: 725px;
    top: 700px; 
    color: white;

background: #2F2F2F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}    