.frame6{
    position: absolute;
    width: 1920px;
    height: 70px;
    top: 0px;
    }
    
    .Offer6 {
        position: absolute;
        left: 775px;
        font-family: 'Inter';
        font-size: 40px;
        line-height:70px;
        color: #000000;
    }

    .helpinfo{
    position: relative;
    width:1920px;
    height:1080px;
    top:89px;
    }
    
    .infobox{
        box-sizing: border-box;

        position: absolute;
        width: 1244px;
        height: 259px;
        left: 340px;
        top: 80px;
        background-color: rgb(255, 251, 245);
        border: 1px solid #000000;
        border-radius: 15px;
    }

    .infobox2{
        box-sizing: border-box;

        position: absolute;
        width: 1244px;
        height: 337px;
        left: 340px;
        top: 350px;
        background-color: rgb(255, 251, 245);
        border: 1px solid #000000;
        border-radius: 15px;
    }

    .aboutcomp{
        color: rgb(0, 0, 0);
        font-size: 20px;
        text-align: center;
        position: relative;
        top:40px;
    }

    .guide1{
        color: rgb(0, 0, 0);
        font-size: 20px;
        text-align: center;
        position: absolute;
        top:30px;
    }