.product-listS {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content:left;
    gap:80px;
    position: relative;
    top:265px;
    left: 150px;
    overflow-y: scroll;
    height: 700px;
    
  }
 
  .product-cardS {
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    width: 226px;
    height: 360px;
  }
  
  .product-cardS img {
    width: 226px;
    height: 295px;
    border-radius: 5px;
    transition: .3s ease-in;
    object-fit: cover;
  }
  .product-imageS:hover{
    transform: scale(0.9);
    box-shadow: -3px 3px 20px  rgba(88, 88, 88, 0.569);
    }
  
  
  .product-cardS h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .product-cardS p {
    margin-top: -17px;
    font-size: 30px;
    color: #ff0000;
    text-align: center;
  }
  
