.product-list {
    display: flex;
    justify-content: center;
    gap:60px;
    position: relative;
    top:340px;
    
  }
 
  .product-card {
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    width: 226px;
    height: 360px;
  }
  
  .product-card img {
    width: 226px;
    height: 295px;
    border-radius: 5px;
    transition: .3s ease-in;
  }
  .product-image:hover{
    transform: scale(0.9);
    }
  
  
  .product-card h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .product-card p {
    margin-top: -17px;
    font-size: 30px;
    color: #ff0000;
    text-align: center;
  }
  
